<h1 class="tab-title"">About website</h1>

<div class="text-content">
	<h2>This simple static website is powered by node.js, designed with css and bootstrap while using the express framework.</h2>

	<h2>You can find the entier code by going on my <a href="https://github.com/SomeMissingColon" style="color:purple">Github</a> and looking for NodeJs_express_first_website. Or, simply, click on this <a href="https://github.com/SomeMissingColon/nodejs_express_first_website" class="text-color-green">link</a> to be redirected directly to the repository</h2>
</div>