
<h1 class="tab-title">Contact me!</h1>
<div class="text-content">
	  <h2>Email: <a href="thomasnoidion@gmail.com">thomasnoidion@gmail.com</a></h2>

	  <h2>Linkedin: <a href="htth2s://www.linkedin.com/in/thomas-dion-a75ba2158"><i class="fab fa-linkedin-in"></i></a></h2>

	  <h2>Phone Number: 514-745-8268</h2>
</div>