<h2>Contact me!</h2>

	  <p>Email: <a href="thomasnoidion@gmail.com">thomasnoidion@gmail.com</a></p>

	  <p>Linkedin: <a href="https://www.linkedin.com/in/thomas-dion-a75ba2158"><i class="fab fa-linkedin-in"></i></a></p>

	  <p>Phone Number: 514-745-8268</p>contact infos