<link rel="stylesheet" type="text/css" href="css/components/footer.css">

<div id='footer' class="background-color-white text-size-small">
	<h3 id="footer-text" class="text-left">Something doesn't look nice? Don't hesitate to reach out!</h3>
</div>