<link rel="stylesheet" type="text/css" href="css/components/footer.css">
<div id='footer' class="background-color-black text-color-white">
	<h1 class="text-center">Look at me, I'm a footer!</h1>
</div>