<link rel="stylesheet" type="text/css" href="css/components/footer.css">
<div id='footer' class="background-color-white text-color-black text-size-big">
	<h1 id="footer-text" class="text-center">Have something to say to me? Don't hesitate to contact me!</h1>
</div>