<link rel="stylesheet" type="text/css" href="css/components/footer.css">
<div id='footer' class="background-color-white text-color-black text-size-big">
	<h1 id="footer-text" class="text-center">Something doesn't look nice? Don't hesitate to reach out!</h1>
</div>