<link rel="stylesheet" type="text/css" href="css/components/header.css">

<div id='header' class='container-sm background-color-white'>
  <div class="greeting">
    <h1 class="text-size-big text-center">Thomas Dion</h1>
  </div>

</div>
