<div class="container">
	<div class="parrallax">
		<h1 class="text-center">looking for a fullstack web developper?</h1>
	</div>

	<div class="content">
		<h2>I am currently looking for exciting projects to work on. After participating in le wagon's bootcamp, I now have the sufficient knowledge and skills to help you create the website you want</h2>
	</div>
	<div class="parrallax">
		<h1>who's only motivation is to get better at coding?</h1>
	</div>

	<div class="content">
		<h2>I have the personal goal to become the best developper I can possibly become. This is my primary objecting, the rest is secondary</h2>
	</div>
</div>