<h1 class="tab-title">my previous creations</h1>
<div class="cards">
	<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/the_iron_giant_hed.jpg?itok=PniZdXbP&resize=1100x1100" alt="Iron giant">
		  <div class="card-body">
		    <h5 class="card-title">KinoBot</h5>
		    <p class="card-text">A discord ChatBot for the fans of cinema</p>
		    <a href="https://github.com/SomeMissingColon/KinoBot" class="btn btn-primary">Find the code</a>
		  </div>
	</div>
	<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/5164doYH7oL._SX425_.jpg" alt="cheese">
		  <div class="card-body">
		    <h5 class="card-title">Macron's cheese finder</h5>
		    <p class="card-text">Parsing through macron's leaked email in quest of the word cheese</p>
		    <a href="https://github.com/SomeMissingColon/cheese_finder_ruby" class="btn btn-primary">Find the code</a>
		  </div>
	</div>
	
	<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="https://res.cloudinary.com/teepublic/image/private/s--UvSUNgzW--/b_rgb:fffffe,t_Heather%20Preview/c_lpad,f_jpg,h_630,q_90,w_1200/v1494469473/production/designs/1595608_1.jpg" alt="Splendid unicorn">
		  <div class="card-body">
		    <h5 class="card-title">We Are Unicorn</h5>
		    <p class="card-text">A WebApp to manage investments for non-profit organisation</p>
		    <a href="https://github.com/SomeMissingColon/we-are-unicorns" class="btn btn-primary">Find the code</a>
		  </div>
	</div>
	
</div>