<!DOCTYPE html>
<html>
<head>
	<title>Thomas's page</title>
</head>
<body>
<h1>It is currently <%= today.getHours() %>:<%= today.getMinutes()%> and <%= today.getSeconds() + ' seconds'%> </h1>
</body>
</html>