<!DOCTYPE html>
<html>
<head>
	<title>Thomas's page</title>
</head>
<body>

<% include partials/header%>

<!-- this be the time test -->
<h1>It is currently <%= today.getHours() %>:<%= today.getMinutes()%> and <%= today.getSeconds() + ' seconds'%> </h1>

<!-- here be another kind of test -->
<h2>now here comes another test</h2>
<h2><%= test %></h2>


<%include partials/footer%>
</body>

</html>