#header {
	display:flex;
	justify-content: space-around;
	height:5%;
	padding-top: 1%;
	border-bottom: 2px solid #30302e;
}

.nav-button {
	margin:2px;
	padding: 5px;
	border: 3px solid #30302e;
}
.nav-button a {
	text-decoration: none;
	color: #30302e;

}
.nav-button:hover {
	background-color:#30302e;
	transition-duration: 0.5s;

}

.nav-button:hover a {
	color:#efefea;
	transition-duration: 0.5s;
}