#navigation-bar li{

	margin: 10px;
	list-style:none;
}

.nav-button {
	margin-left:20px;
	transition-duration: 0.7s;
	margin-bottom:10px;
	border:none;
}

.nav-button a {
	padding:1px;
}

.nav-button:hover {
	padding-left:40px;
	transition-duration: 0.7s;
}
.nav-button:hover a  {
	border-bottom: 3px solid rgba(100,100,100,0.5);
	transition-delay: 0.2s;
	transition-duration: 0.7s;
}
.tab-unactive {
	transition-duration: 0.9s;
	margin-left:110%;
}

.tab-active {
	transition-duration: 0.9s;
	margin-left:0%!important;
}

.tab{
	margin-bottom:8%;
	position: absolute;
	top:10%;
}
.active {
	padding-right:5px;

	border-bottom:3px solid rgba(0,0,0,0.8);
	transition-duration: 0.5s;
}


